{% extends 'main.html' %}
{% block content %}


<div class="container">
        <h5>{{room_count}} room available</h5>
        <h5>{{user_count}} User count</h5>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1">
            เพิ่มห้องเรียน
        </button>
        <hr>


        <div class="card-columns">
            {% for room in rooms %}
                {% if request.user == room.room_host %}
                <div class="card border-primary mb-3 text-center" style="max-width: 20rem;">
                    <div class="card-header">รหัสวิชา:{{room.room_id}}</div>
                        <div class="card-body text-primary">
                            <h5 class="card-title">วิชา :{{room.room_name}}</h5>
                            <a href="{% url 'room' room.room_id %}" class="btn btn-primary">เข้าชมห้อง</a>
                            <a href="{% url 'update-room' room.room_id %}">Edit</a>
                            <a href="{% url 'delete-room' room.room_id %}">Delete</a>
                        </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">เพิ่มห้องเรียน</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="{% url 'create-room' %}" method="post">
            {% csrf_token %}
            {{form.as_p}}
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Create</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </form>
      </div>
    </div>
  </div>   
{% endblock content %}