{% extends 'main.html' %}


{% block content %}
    <div class="container">

    <h2>รหัสวิชา :{{room.room_id}}</h2>

    <h2>วิชา : {{room.room_name}}</h2>
    <h2>Code : {{room.group_code}}</h2>
    <a href="{% url 'list-student' room.room_id %}" class="btn btn-primary">รายชื่อนักศึกษา</a>
    
    <table class="room-tb">
        <tr>
            <th>เลขที่</th>
            <th>รหัสนักศึกษา</th>
            <th>ชื่อ - นามสกุล</th>
            <th>แจ้งเตือน</th>
        </tr>
        <tr>
            <td>Alfreds Futterkiste</td>
            <td>Maria Anders</td>
            <td>Germany</td>
            <td>1</td>
        </tr>
        <tr>
            <td>Alfreds Futterkiste</td>
            <td>Maria Anders</td>
            <td>Germany</td>
            <td>2</td>
          </tr>
        {% for group_st in groups_st %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{group_st.student_id}}</td>    
            <td>{{group_st.student_id.user.first_name}}  {{group_st.student_id.user.last_name}}</td>
            <td><a href="{% url 'list-alert' room.room_id %}"> test ครั้ง</a></td>  
        </tr> 
        {% endfor %}
    </table>
   
    {% if request.user.is_authenticated %}

    {% endif %}

    </div>
{% endblock %}