{% extends 'main.html' %}


{% block content %}
<div class="container">
    <button id="buttonback" onclick="history.back()" class="btn btn-sm"><i class="large material-icons">arrow_back</i></button>
    <h2>รหัสวิชา : {{room.room_id}}</h2>
    <h2>วิชา : {{room.room_name}}</h2>
    <h2>ที่อยู่ไฟล์ : {{student_count.path_video}}</h2>


    <table class="room-tb">
        <tr>
            <th>ครั้งที่</th>
            <th>เวาลเริ่มต้น</th>
            <th>เวลาสิ้นสุด</th>
        </tr>
        {% for count in count_set %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{count.start}} นาที</td>    
            <td>{{count.stop}} นาที</td>  
        </tr> 
        {% endfor %}
    </table>
   

</div>
{% endblock content %}