{% extends 'main.html' %}


{% block content %}


<div class="container">
    <a href="{% url 'teacher-home' %}" class="btn btn-sm" id="buttonback"><i class="large material-icons">arrow_back</i></a>
    <h2>รหัสวิชา : {{room.room_id}}</h2>

    <h2>วิชา : {{room.room_name}}</h2>
    <h2>Code : {{room.group_code}}</h2>
    <h2><a href="{% url 'list-student' room.room_id %}" class="btn btn-primary">รายชื่อนักศึกษา</a></h2>
    
    <table class="room-tb" id="room-tb">
        <tr>
            <th>ลำดับที่</th>
            <th>รหัสนักศึกษา</th>
            <th>ชื่อ - นามสกุล</th>
            <th>ความยาววิดิโอ</th>
            <th>เวลาอัพโหลดไฟล์</th>
            <th>จำนวนแจ้งเตือน</th>
        </tr>
        {% for list in list_students_alert %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{list.student_id}}</td>    
            <td>{{list.student_id.user.first_name}}  {{list.student_id.user.last_name}}</td>
            <td>{{list.duration}} นาที</td>
            <td>{{list.date}}</td>
            {% if list.count_times > 0 %}
            <td><a href="{% url 'list-alert' room.room_id list.code_set  %}"> {{list.count_times}}</a></td>  
            {% else %}
            <td>{{list.count_times}}</td>  
            {% endif %}
        </tr> 
        {% endfor %}
    </table>
   


    </div>
    {% endblock content %}