{% extends 'main.html' %}


{% block content %}

<style>
  #btnStart{
    float: right;
    margin-right: 80px;
  }
  #btnStop{
    float: right;
    margin-right: 80px;
    margin-top: -60px;
  }
  #vid1{
    width: 800px;
    height: 500px;
  }
  #roomid{
    text-align: center;
    margin-right: 350px;
  }
 
</style>

<div class="container">
  <p><button id="buttonback" onclick="history.back()" class="btn btn-sm"><i class="large material-icons">arrow_back</i></button></p>
  <h1 id="roomid">วิชา : {{rooms.room_name}}</h1>
  <p><button id = "btnStart" class="btn btn-secondary" >START RECORDING</button></p>
  <p><video id = "vid1" controls></video></p>
  <p><button id = "btnStop" class="btn btn-secondary" >STOP RECORDING</button></p>  
  <video id = "vid2" controls></video>  
  <a id = "download-video" download = "test.webm">Download Video</a>
  
</div>

{% endblock content %}